<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administración</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="contenedor">

    <img src="{{ url_for('static', filename='img/logo_construplaza.jpg') }}" class="logo" alt="Construplaza">

    <h1>Construplaza</h1>
    <h2>Panel de Administración</h2>

    <div class="opciones">
    <a class="boton" href="/nuevo">➕ Agregar producto</a>
    <a class="boton" href="/editar">✏️ Editar producto</a>
    <a class="boton" href="/eliminar">🗑 Eliminar producto</a>
    <a class="boton" href="/eliminar_ubicacion">📦 Eliminar ubicación</a>
    <a class="boton" href="/inventario">📋 Ver inventario</a>
    <a class="boton" href="/cambiar_password">🔑 Cambiar contraseña</a>
</div> 

    <a class="salir" href="/logout">🚪 Cerrar sesión</a>

</div>

</body>
</html> 
