<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administración</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="contenedor">

    <img src="{{ url_for('static', filename='img/logo_construplaza.jpg') }}" class="logo" alt="Construplaza">

    <h1>Construplaza</h1>
    <h2>Panel de Administración</h2>
<div class="buscador-admin">
    <form action="/admin" method="GET">
        <input
            type="text"
            name="buscar"
            placeholder="Buscar producto, código o código de barras"
            value="{{ buscar or '' }}"
            required
        >
        <button type="submit" class="boton">
            🔍 Buscar producto
        </button>
    </form>
</div>

{% if buscar %}
    <div class="resultados-admin">

        {% if resultados %}
            <h3>Resultados encontrados</h3>

            {% for fila in resultados %}
    <div class="tarjeta-admin">
        <strong>{{ fila.producto }}</strong><br>
        Código: {{ fila.codigo }}<br>
        Código de barras: {{ fila.codigo_barras or '-' }}<br>
        📍 Ubicación: {{ fila.ubicacion }}<br><br>

        <div class="acciones-admin">
    <a class="boton accion-admin" href="{{ url_for('editar', codigo=fila.codigo) }}">
        ✏️ Editar
    </a>

    <a class="boton accion-admin" href="{{ url_for('eliminar', codigo=fila.codigo, id=fila.id) }}">
        🗑️ Eliminar
    </a>
</div> 

    </div>
{% endfor %} 


        {% else %}
            <p>No se encontraron productos.</p>
        {% endif %}

    </div>
{% endif %} 

    <div class="opciones">
    {% if session.get("es_superadmin") or session.get("puede_agregar") %}
<a class="boton" href="/nuevo">➕ Agregar producto</a>
{% endif %}
    {% if session.get("es_superadmin") or session.get("puede_editar") %}
<a class="boton" href="/editar">📝 Editar producto</a>
{% endif %}
    {% if session.get("es_superadmin") or session.get("puede_eliminar") %}
<a class="boton" href="/eliminar">🗑️ Eliminar producto</a>
{% endif %}
    {% if session.get("es_superadmin") or session.get("puede_eliminar_ubicacion") %}
<a class="boton" href="/eliminar_ubicacion">📦 Eliminar ubicación</a>
{% endif %}
    <a class="boton" href="/inventario">📋 Ver inventario</a>
    {% if session.get("es_superadmin") or session.get("puede_actualizar_excel") %}
<a class="boton" href="/actualizar_excel">📊 Actualizar desde Excel</a>
{% endif %}
    <a class="boton" href="/cambiar_password">🔑 Cambiar contraseña</a>
     {% if session.get("es_superadmin") %}
<a class="boton" href="/usuarios">👥 Administrar usuarios</a>
{% endif %}

</div> 

    <a class="salir" href="/logout">🚪 Cerrar sesión</a>

</div>

</body>
</html> 
