<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- Hace que el diseño se adapte correctamente al celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ubicaciones Construplaza</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<header class="encabezado">
    <img
        src="{{ url_for('static', filename='img/logo_construplaza.jpg') }}"
        alt="Logo Construplaza"
        class="logo"
    >

    
    <h1>Sistema de Ubicaciones</h1>
    <p>Construplaza . Sucursal Alajuela</p>
</header>

<main class="contenedor">

    <h2>🔎 Buscar producto</h2>

    <form method="GET" class="formulario-busqueda">
        <input
            type="text"
            name="buscar"
            placeholder="Producto o código"
            value="{{ busqueda }}"
            autocomplete="off"
        >

        <button type="submit">
            Buscar
        </button>
    </form>

    <div class="resultados">
        {{ resultado|safe }}
    </div>

    <div class="admin">
        <a href="/login">🔒 Administrador</a>
    </div>

</main>

</body>
</html> 
