<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- Hace que el diseño se adapte correctamente al celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ubicaciones Construplaza</title>
<link rel="manifest" href="/static/manifest.json">
<link rel="icon" type="image/png" sizes="192x192" href="/static/img/icon-192.png">
<link rel="apple-touch-icon" href="/static/img/icon-192.png">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<header class="encabezado">
    <img
        src="{{ url_for('static', filename='img/logo_construplaza.jpg') }}"
        alt="Logo Construplaza"
        class="logo"
    >

    
    <h1>Sistema de Ubicaciones</h1>
    <p>Construplaza . Sucursal Alajuela</p>
</header>

<main class="contenedor">

    <h2>🔎 Buscar producto</h2>

    <form method="GET" class="formulario-busqueda">
        <input
            type="text"
            name="buscar"
            id="campo-busqueda"
            placeholder="Producto o código"
            value="{{ busqueda }}"
            autocomplete="off"
        >
<button type="button" id="boton-escanear">
    📷 Escanear código
</button>
        <button type="submit">
            Buscar
        </button>
    </form>
<div id="lector" style="width:100%; max-width:500px; margin:20px auto; display:none;"></div> 
    <div class="resultados">
        {{ resultado|safe }}
    </div>

    <div class="admin">
        <a href="/login">🔒 Administrador</a>
    </div>

</main>
<script src="https://unpkg.com/html5-qrcode"></script>

<script>
const botonEscanear = document.getElementById("boton-escanear");
const campoBusqueda = document.getElementById("campo-busqueda");

let lectorActivo = false;
let html5QrCode;

botonEscanear.addEventListener("click", async function () {

    const lector = document.getElementById("lector");

    if (lectorActivo) {
        await html5QrCode.stop();
        lector.style.display = "none";
        lectorActivo = false;
        botonEscanear.textContent = "📷 Escanear código";
        return;
    }

    lector.style.display = "block";

    html5QrCode = new Html5Qrcode("lector");

    try {
        await html5QrCode.start(
            { facingMode: "environment" },
            {
                fps: 10,
                
            },
            
            async function (codigoLeido) {

                const codigoLimpio = codigoLeido.replace(/\D/g, "");
campoBusqueda.value = codigoLimpio;

                await html5QrCode.stop();

                lector.style.display = "none";
                lectorActivo = false;

                document.querySelector(".formulario-busqueda").submit();
            }
        );

        lectorActivo = true;
        botonEscanear.textContent = "✖ Cerrar cámara";

    } catch (error) {
        lector.style.display = "none";

        alert(
            "No se pudo abrir la cámara. Verifique que el navegador tenga permiso para usarla."
        );
    }
}); 

</script>
 <script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
    }
</script> 
</body>
</html> 
